*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
/* -----------------------Navigation Bar CSS-----------------------------*/
.navbar{
    background-image: linear-gradient(to right, #e37af3,#b02af3);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
color: white;
font-size: 30px !important;

}
.navbar-toggler{
    outline: none !important;
}
/* ---------------Banner Section CSS-------------------*/
#banner{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color:white;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
#banner a{
    color: #fff;
    text-decoration: none;
}
.btn-cv{
    color: rgb(0, 0, 0) !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    margin-top:30px;
    margin-bottom: 40px;
    padding: 14px 35px;
    border: none;
    border-radius: 40px;
    background-image: linear-gradient(to right, #ffffff,#d47dff);
    transition: all 0.4s ease-in-out !important;
    z-index: -4 !important;
    transform:scale(0.9);
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22);
}
.btn-cv:hover{
    color: white !important;
    background-image: linear-gradient(to right, #c421dd,#9532c7);
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22);
    transform: none;
}
.bottom-img{
    width: 100%;
}
.banner-pic{
    box-shadow: 0 19px 38px rgba(0,0,0,0.9),0 25px 32px rgba(0, 0, 0, 0.767);
    border-radius: 20px;
}
/*---------------------------------------Services Section----------------------*/
#services{
    padding: 100px 0;
    background-color: #dee6ef  ;
}
.services-img {
    width: 180px;
    margin-top: 20px;
}
.services p{
    font-family: Abel;
}
.services h4{
    padding: 8px;
    margin-top:25px;
    text-transform: uppercase;
}
.title::before{
    content:'';
    background: #7b1798;
    height:5px;
    width:250px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content:'';
    border: 1px solid white;
    background: #7b1798;
    height:10px;
    width:50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    transition: all 0.7s ease-in-out;
}
.title:hover:after{
    background: #b52cdb;
    width:120px;
    transition: all 0.7s ease-in-out;
    will-change: transform;
}
#services .btn-primary{
    font-size: 17px;
    font-weight: 600;
    margin-top:40px;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba,#701d99);
    transition: all 0.2s ease-in-out;
    z-index: -4;
    transform:scale(0.90);
}
#services .btn-primary:hover{
    background-image: linear-gradient(to right, #d14ae6,#9d19df);
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22);
    transform: none;
}
.premier-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/skill\ bg.png");
}

 .java-script-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/JS\ BG.png");
 }
 .java-script-front img{
     width: 120px;
 }
 .SQL-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/SQL\ BG.jpg");
 }
 .SQL-front img{
     width: 240px;
 }
 .java-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/JAVA\ BG.jpg");
 }
 .java-front img{
     width: 120px;
 }



 .c-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/SQL\ BG.jpg");
 }
 .cp-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/JAVA\ BG.jpg");
 }
 .python-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) ),url("Images/Office\ Art.png");
 }
 .more-front{
    background:linear-gradient( rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.89) );
 }



 .services h4{
    font-weight: 700;
}

 .services{
    color: white !important;
    background-size: cover;
    background-position:center ;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22) !important;
    transition: all 0.5s ease-in-out;
    transform: scale(0.90);
}
.services:hover{
    transform: none;
}
.rowtest{
    transition: all 0.8s ease-in-out;
}

/*----------------------------About me section--------------------------*/
#about-me{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    padding-top: 50px;
    font-size: 40px;
    font-weight:600;
    margin-top:8%;
}
#about-me ul li{
    margin: 10px 0;
    transition: all 0.2s ease-in-out;
}

#about-me ul{
    margin-left: 40px;
}
#about-me ul li:hover{
    font-weight: 600;
    transform: scale(1.1);
}
/* ------------------------------------SOCIAL MEDIA SECTION------------------------------*/
#social-media{
    padding: 100px 0px;
}
.social-class{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 100px;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    border-radius: 19px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22);
    align-content: center;
    width:60px;
    transition: all 0.4s ease-in-out;
    margin: 10px 40px;
}
.social-icons a:hover img{
    transform: scale(1.1);
    transform: translateY(-10px);
}
/*-----------------------FOOTER--------------------------*/
#footer{
    background-image: linear-gradient(to right, #cd17e9,#a331db);
    color: white;
}
.footer-img{
    width: 100%;
    transform: scaleY(-1);
}
.footer-box{
    padding: 20px;
    padding-left: 100px !important;
}
.footer-box img{
    width:250px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    background-image: linear-gradient(to right, #cd17e9,#a331db);
}
.footer-box .fa:hover{
    background-image: linear-gradient(to right, #dc52f1,#ac07ff);
}
